.nchatNavBar{
  border-color:#000;
  margin-bottom:20px;
  display:block;
  background-color:lightgray;
}

.container{
  margin-top:25px;
}

.img-circle{
  height: 30px;
  width: 30px;
  margin-top:10px;
}

.loginDiv{
  width: 120px;
}